body {
    background-color: rgba(225, 233, 236, 0.808);
}

.row{
    padding:1% !important;
}

.center {
    width:100%;
    display: flex;
    justify-content: center;
}

.image-show {
    padding:0.5rem;
    display: block;
    max-height:20rem;
    width: auto;
    height: auto;
}

.instructionItemListItem {
    display : flex;
    align-items: flex-start;
}

.instructionItemInput {
    width: 100%;
    margin-right: 1%;
}

.previousInstructionItem {
    margin-top: 2%;
    margin-left: 5%;
}