{% extends 'base.html.twig' %}

{% block title %}{{className}}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto;width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="card" style="width: 100%; margin:1%;">
        <div class="card-body">
            <h2 class="card-title">{{recipe.title}}</h2>

            {% if recipe.image == null %}
                <img class="card-img-top" style="padding:0.5rem;" src="/images/recetteDefaultImage.png"> {# root is public folder #}
            {% else %}
                <div>
                    <img class="card-img-top" style="padding:0.5rem;" src="/images/uploads/{{recipe.image|raw}}">
                </div>
            {% endif %}

            <p class="card-text">{{recipe.description}}</p>
        </div>
    </div>
{% endblock %}
